@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Bevan");
@import url("https://fonts.googleapis.com/css?family=Candal");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* CONTAINER */
.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* GRIDS */
.row::before,
.row::after,
.navbar-default::before,
.navbar-default::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  width: 100%;
  min-height: 1px;
}

/* HEADER */
.icon-btn,
footer .container {
  background-color: #313332;
}

img {
  max-width: 100%;
  height: auto;
}

header .navbar-default {
  background-color: #313332;
  margin-bottom: 0;
  border: none;
  padding: 0 20px;
}

header .navbar-default .container .navbar-header .navbar-toggle {
  margin: 17px 25px 0 0;
  background-color: inherit;
  border: none;
}

header .navbar-default .container .navbar-header .navbar-toggle .icon-bar {
  background-color: #fff;
}

header .navbar-default .container .navbar-header .navbar-brand {
  height: 70px;
}

header .navbar-default .container .navbar-header .navbar-brand img {
  position: relative;
  top: -8px;
  left: auto;
  width: 55px;
}

header .navbar-default .container .navbar-collapse {
  border: none;
}

header .navbar-default .container .navbar-collapse ul {
  font-size: 0;
  list-style-type: none;
  padding-left: 0;
}

header .navbar-default .container .navbar-collapse ul li {
  font-size: 15px;
}

header .navbar-default .container .navbar-collapse ul li a {
  line-height: 70px;
  padding: 0 15px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.slogan,
.benefits h2,
.featured_works h2,
.promotion h2,
.statistic p,
footer h2 {
  text-transform: uppercase;
}

.icon-btn,
.slogan,
.job,
.promotion h2,
.promotion p {
  color: #fff;
}

/* HERO */
.hero .container {
  background: url("https://unsplash.it/1200/400?image=180") repeat center/cover;
  position: relative;
  height: 340px;
}

.hero .container .slogan {
  position: absolute;
  top: 45%;
  left: auto;
  right: 0;
  transform: translateY(-45%);
  width: auto;
  text-align: left;
  padding: 0px 32px 0 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero .container .slogan h1 {
  font: normal 1.5em "Open Sans", sans-serif;
}

.hero .container .slogan h1 span {
  font-weight: bold;
}

/* ICONS */
.icon-btn {
  height: 100px;
  width: 100px;
  border: 0;
  border-radius: 14px;
  font-size: 40px;
  margin: 0 auto;
}

/* BENEFITS */
.benefits .container {
  margin-top: 43px;
}

.benefits h2 {
  font-size: 18px;
  margin: 25px 0 7px;
}

.benefits p {
  font-size: 13px;
  margin: 0 25px 35px;
}

.benefits h2,
.featured_works h2,
.job + p,
.statistic span {
  color: #313332;
}

.benefits p,
.featured_works p {
  color: #a9a9a9;
}

/* FEATURED WORKS */
.featured_works h2 {
  margin: 0 0 16px;
  font: bold 29px "Candal", sans-serif;
}

.featured_works p {
  font-size: 13px;
  margin: 0 15px;
}

/* GALLERY */
.hidden {
  display: none;
}

.gallery .container {
  margin: 39px auto;
  line-height: 0;
}

.gallery .col-x {
  position: relative;
}

.gallery .layer {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  display: block;
  height: 100%;
  width: 100%;
}

.gallery .layer .icon-btn {
  height: 20px;
  width: 20px;
  font: normal 14px/20px "Open Sans", sans-serif;
  position: relative;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  margin: 0 16px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
}

.gallery .layer .icon-btn .fa {
  position: relative;
  top: auto;
  left: -2px;
}

.gallery .container,
.layer,
.job {
  overflow: hidden;
}

/* TEAM */
.team .container .col-x {
  height: 250px;
  width: 100%;
  position: relative;
  margin: 10px auto 39px;
}

.team .container .col-x:nth-child(1) .person {
  background: url("https://images.pexels.com/photos/428339/pexels-photo-428339.jpeg?h=350&auto=compress&cs=tinysrgb") repeat center/cover;
}

.team .container .col-x:nth-child(2) .person {
  background: url("https://images.pexels.com/photos/51969/model-female-girl-beautiful-51969.jpeg?h=350&auto=compress&cs=tinysrgb") repeat center/cover;
}

.team .container .col-x:nth-child(3) .person {
  background: url("https://images.pexels.com/photos/6980/summer-cute-hipster-beauty.jpg?h=350&auto=compress&cs=tinysrgb") repeat 50% 0%/cover;
}

.team .container .col-x:nth-child(4) .person {
  background: url("https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?h=350&auto=compress&cs=tinysrgb") repeat center/cover;
}

.team .container .col-x .person {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.team .container .col-x .job {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 30%;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  line-height: 200px;
}

.team .container .col-x .job + p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 21px;
}

/* PROMOTION */
.promotion .container {
  background-color: #bfbfbf;
  padding: 32px 0;
}

.promotion .container h2 {
  font: bold 30px "Candal", sans-serif;
  margin-bottom: 15px;
}

.promotion .container p {
  font-size: 13px;
  margin: 10px 15px;
}

.promotion .container .col-x {
  margin: 0 auto;
}

.promotion .container .col-x .picture {
  height: 230px;
  width: 100%;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Avalanche_Hardline_Liquid_Cooled_Gaming_Computer.png/480px-Avalanche_Hardline_Liquid_Cooled_Gaming_Computer.png") no-repeat center/contain;
}

.promotion .container .col-x p {
  margin-top: 19px;
  font-style: italic;
}

.promotion h2,
.promotion p {
  text-align: center;
}

/* STATISTIC */
.statistic .container {
  padding: 29px 0 0;
}

.statistic .container p {
  color: #00c7e8;
  font-size: 13px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 39px;
}

.statistic .container p span {
  font: bold 44px 'Bevan', cursive;
}

/* FOOTER */
footer .container {
  color: #f0ffff;
  font-size: 13px;
  text-align: center;
}

footer .container .row:nth-child(1) {
  padding: 22px 15px;
}

footer .container .row .col-x:only-of-type {
  height: 50px;
  background-color: #252726;
  line-height: 50px;
  text-align: center;
}

footer .container h2 {
  position: relative;
}

footer .container .get_in {
  padding: 2px 0 1px;
}

footer .container .get_in .row {
  margin-bottom: 20px;
}

footer .container .get_in .row div:first-child {
  margin-bottom: 10px;
}

footer .container .social .icon-btn {
  height: 35px;
  width: 35px;
  font: normal 21px/35px "Open Sans", sans-serif;
  margin: 10px;
  background-color: #00c7e8;
  border-radius: 1px;
}

footer p,
.get_in .row .col-x {
  color: #ccc;
}

/* Media queries */
/* For tablets: */
@media (min-width: 768px) {
  /* GRIDS */
  [class*="col-"] {
    float: left;
  }
  .col-s-1 {
    width: 8.3333333333%;
  }
  .col-s-2 {
    width: 16.6666666667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.3333333333%;
  }
  .col-s-5 {
    width: 41.6666666667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.3333333333%;
  }
  .col-s-8 {
    width: 66.6666666667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.3333333333%;
  }
  .col-s-11 {
    width: 91.6666666667%;
  }
  .col-s-12 {
    width: 100%;
  }
  /* HEADER */
  header {
    height: 70px;
  }
  header .navbar-default {
    padding: 0 50px;
  }
  header .navbar-default .container .navbar-header .navbar-brand img {
    float: left;
  }
  header .navbar-default .container .navbar-collapse {
    padding: 0;
  }
  header .navbar-default .container .navbar-collapse ul {
    float: right;
  }
  header .navbar-default .container .navbar-collapse ul li {
    display: inline-block;
  }
  header .navbar-default .container .navbar-collapse ul li a:hover {
    color: #00c7e8;
  }
  /* HERO */
  .hero .container {
    height: 375px;
    margin: 0 auto;
  }
  .hero .container .slogan {
    float: right;
    width: 430px;
    padding-left: 30px;
  }
  /* ICONS */
  .icon-btn {
    cursor: pointer;
  }
  /* BENEFITS */
  .benefits .container {
    margin-top: 83px;
  }
  .benefits .container .row {
    width: 680px;
    margin: 0 auto;
  }
  .benefits .container .row .col-s-4 {
    margin-bottom: 0;
  }
  .benefits .container .row .col-s-4:hover .icon-btn {
    background-color: #00c7e8;
  }
  .benefits .container .row .col-s-4:hover h2 {
    color: #00c7e8;
  }
  /* FEATURED WORKS */
  .featured_works h2 {
    font-size: 32px;
    margin-top: 60px;
  }
  .featured_works p {
    font-size: 14px;
    margin: 0 50px;
  }
  /* GALLERY */
  .gallery .container {
    margin-top: 48px;
  }
  .gallery .container .layer {
    height: 0;
    transition: 1.4s cubic-bezier(1, -0.25, 0, 1.04);
  }
  .gallery .container .layer .icon-btn {
    margin: 0 10px;
  }
  .col-s-2,
  .col-s-4 {
    height: 100%;
  }
  .layer,
  .team .col-s-6:hover .job {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .gallery .col-s-2:hover .layer,
  .gallery .col-s-4:hover .layer {
    height: 100%;
  }
  /* TEAM */
  .team .container {
    width: 100%;
    margin: 55px auto 19px;
  }
  .team .container .col-s-6 {
    width: 50%;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .team .container .col-s-6 .job {
    position: absolute;
    top: 0;
    left: 50%;
    right: auto;
    opacity: 0;
    transition: 1.4s cubic-bezier(1, -0.25, 0, 1.04);
    border-radius: 50%;
  }
  .team .container .col-s-6:hover .job {
    opacity: 1;
  }
  /* PROMOTION */
  .promotion .container {
    height: auto;
    padding: 15px 10px;
  }
  .promotion .container .col-s-5 {
    position: relative;
    overflow: hidden;
    height: 320px;
  }
  .promotion .container .col-s-5 .picture {
    height: 280px;
    float: left;
    position: absolute;
    top: 28px;
    left: 0;
    right: auto;
  }
  .promotion .container h2 {
    font-size: 30px;
  }
  .promotion .container p {
    font-size: 13px;
    margin: 0 15px 0 0;
  }
  .promotion .container .col-s-4 p {
    margin-top: 0;
  }
  .promotion h2,
  .promotion p {
    text-align: left;
  }
  /* STATISTIC */
  .statistic .container {
    height: 190px;
    padding: 55px 15px;
  }
  .statistic .container p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .statistic .container p span {
    font-size: 46px;
  }
  /* FOOTER */
  footer .container {
    text-align: left;
  }
  footer .container .row:nth-child(1) {
    padding: 22px 0px 22px 36px;
  }
  footer .container .row h2:after {
    content: "";
    position: absolute;
    top: 12px;
    left: auto;
    right: auto;
    margin-left: 10px;
    width: 50px;
    border-bottom: 2px solid #fff;
    border-radius: 4px;
  }
  footer .container .row p {
    margin-right: 30px;
  }
  footer .container .row .get_in {
    padding: 0;
  }
  footer .container .row .get_in .row .col-s-4 {
    margin-bottom: 0;
    width: 70px;
  }
  footer .container .row .social .icon-btn {
    height: 25px;
    width: 25px;
    font: normal 17px/25px "Open Sans", sans-serif;
    margin: 2px;
  }
  footer .container .row .col-s-12:only-of-type {
    line-height: 20px;
  }
}

/* For computers: */
@media (min-width: 992px) {
  /* GRIDS */
  .col-m-1 {
    width: 8.3333333333%;
  }
  .col-m-2 {
    width: 16.6666666667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.3333333333%;
  }
  .col-m-5 {
    width: 41.6666666667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.3333333333%;
  }
  .col-m-8 {
    width: 66.6666666667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.3333333333%;
  }
  .col-m-11 {
    width: 91.6666666667%;
  }
  .col-m-12 {
    width: 100%;
  }
  /* HEADER */
  header .navbar-default {
    padding: 0 130px;
  }
  /* HERO */
  .hero .container .slogan {
    width: 465px;
  }
  .hero .container .slogan h1 {
    font-size: 2em;
  }
  /* FEATURED WORKS */
  .featured_works h2 {
    font-size: 34px;
  }
  .featured_works p {
    margin: 0 170px;
  }
  /* GALLERY */
  .layer .icon-btn {
    margin: 0 13px;
  }
  /* TEAM */
  .team .container .col-m-3 {
    width: 25%;
    margin: 30px 0 70px;
  }
  /* PROMOTION */
  .promotion .container {
    height: 320px;
    padding: 25px 30px 25px 0px;
  }
  .promotion .container .col-m-5 .picture {
    background-size: cover;
    height: 300px;
    width: 300px;
    float: right;
    position: absolute;
    top: 28px;
    left: 65px;
    right: auto;
  }
  .promotion .container p {
    margin-right: 35px;
  }
  /* FOOTER */
  footer .container .row:nth-child(1) {
    padding: 22px 50px 22px 96px;
  }
}

/* For large computers: */
@media (min-width: 1200px) {
  /* CONTAINER */
  .container {
    max-width: 1200px;
  }
  /* GRIDS */
  .col-l-1 {
    width: 8.3333333333%;
  }
  .col-l-2 {
    width: 16.6666666667%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.3333333333%;
  }
  .col-l-5 {
    width: 41.6666666667%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.3333333333%;
  }
  .col-l-8 {
    width: 66.6666666667%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.3333333333%;
  }
  .col-l-11 {
    width: 91.6666666667%;
  }
  .col-l-12 {
    width: 100%;
  }
  /* HEADER */
  header .navbar-default {
    padding: 0 120px;
    max-width: 1200px;
    margin: 0 auto;
  }
  /* HERO */
  .hero .container .slogan {
    width: 535px;
  }
  /* BENEFITS */
  .benefits .container .row {
    width: 880px;
  }
  .benefits .container .row .col-l-4 {
    margin-bottom: 30px;
  }
  .benefits .container .row .col-l-4:last-of-type {
    margin-bottom: 0;
  }
  /* FEATURED WORKS */
  .featured_works h2 {
    margin-top: 25px;
  }
  .featured_works p {
    margin: 0 250px;
  }
  /* GALLERY */
  .gallery .col-l-2,
  .gallery .col-l-4,
  .gallery .col-l-2:hover .layer,
  .gallery .col-l-4:hover .layer {
    height: 150px;
  }
  .gallery .container .layer .icon-btn {
    margin: 0 18px;
  }
  /* TEAM */
  .team .container {
    width: 944px;
    margin: 85px auto;
  }
  .team .container .col-l-3 {
    width: 200px;
    margin: 18px;
  }
  /* PROMOTION */
  .promotion .container {
    padding: 25px 130px;
  }
  .promotion .container .col-l-5 .picture {
    position: absolute;
    top: 28px;
    left: 55px;
    right: auto;
  }
  .promotion .container h2 {
    font-size: 33px;
  }
  .promotion .container p {
    margin-right: 22px;
    font-size: 15px;
  }
  /* STATISTIC */
  .statistic .container {
    padding: 58px 205px;
  }
  /* FOOTER */
  footer .container .row:nth-child(1) {
    padding: 22px 175px;
  }
  footer .container .row h2:after {
    width: 70px;
  }
}

/*# sourceMappingURL=style.css.map */